body {
	max-width: 1920px;
    max-height: 1080px;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*SECTION  AND CONTAINERS*/

.section {
    width: 100%;
    height: 100%;
	background: #63A7A9 url('../img/bg.jpg') no-repeat center;
	background-size: cover;	
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	max-width: 1570px;
}

.header {
    max-width: 1570px;
    width: 80%;
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
}

.header__inner {
  	display: flex;
    justify-content: space-between;
}

/*Nav*/

.logo {
	padding: 66px 33px 85px 30px;
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

.logo__title {
	font-weight: bold;
	font-size: 20px;
	line-height: 97.4%;
	/* or 19px */
	letter-spacing: 0.305em;
	text-decoration: none;
	color: #fff;
}

/*nav Burger*/

.line-wrapper {
	height: 80px;
	width: 80px;
	position: absolute;
    right: 8px;
    top: 21px;
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

.burger__wrapper {
	position: relative;
	margin: 42px 20px 0 0;
    width: 200px;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;
}

#check-menu {
    display: none;
}

label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-color: #fff;
    transition: .5s all;
}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.burger__link {
    display: block;
    width: 100%;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
   	background: rgba(0, 0, 0, 0.09);
}

.burger__link:first-child {
    border-top: 0;
    margin-top: 25px;
}

.burger__link:hover {
    color: #000;
}

#check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 25px;
}

#check-menu:checked ~ .first {
    display: none;
}

#check-menu:checked ~ .second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
    display: none;
}
/* \ nav burger*/

.title {
	max-width: 945px;
    padding-top: 29%;
    padding-left: 95px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 69px;
}

.content-wrapper {
	display: grid;
	width: 98%;
    margin: 0 auto;
}

.tour-contact {
	margin-top: 155px;
	max-width: 1570px;
	height: 35px;	
	font-weight: bold;
	font-size: 17px;
	display: flex;
}

.tour__nearest {
    font-size: 18px;
}

.tour__nearest::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 2px;
    margin: 5px 4px 5px 0px;
    background-color: #fff;
}

.tour__ready {
    color: #000;
    font-size: 18px;
}

.tour__ready p::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 2px;
    margin: 5px 4px 5px 0px;
    background-color: #000;
}

.number {
    color: #000;
    font-size: 17px;
}

.number span {
	font-weight: 400;
}

.tour__nearest+.tour__ready {
 margin-left: 60%;
}

.tour__ready+.number{
 margin-left: 17%;
}

.tour-and-footer {
	display: inline-flex;
	justify-content: space-between;
	max-width: 1570px;
	margin-top: 10px;
}

.tour-choise {
	display: inline-flex;
	text-align: center;
}

.tour__wrapper {
	padding: 66px 40px 79px 40px;
	text-align: left;
}

.tour__wrapper:hover {
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

.tour__wrapper--active {
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

.tour__title {
	font-weight: bold;
	font-size: 25px;
	width: 130px;
}

.tour__title::before {
	content: "";
    display: block;
    width: 67px;
    height: 2px;
    margin-bottom: 24px;
    background-color: #eaeaeb;
}

.tour__data {
	font-size: 20px;
}

.footer__container {
	display: inline-flex;
	margin-top: 90px;
}

.footer__container p {
	width: 235px;
	font-size: 17px;
	color: #000;
}

.btn {
	margin-left: 75px;
	border: 1px solid #000;
	padding: 20px 85px 20px 85px;
	font-size: 19px;
	font-weight: 600;
	text-decoration: none;
	color: #000;
	transition: background .1s linear, color .1s linear;
	background: rgba(0, 0, 0, 0.01);
	cursor: pointer;
}

.btn:hover {
	color: #333;
	background: rgba(0, 0, 0, 0.01);
	backdrop-filter: blur(1px);
}



/*Responsive*/
/* 990px - 1230px */
@media screen and (max-width: 1230px) {
}
/* 760px - 990px */
@media screen and (max-width: 990px) {
}
/* 660px - 760px */
@media screen and (max-width: 760px) {	
}




/*font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/